

.wrapper{
    background: url("./img/01-home\ \(2\).jpg") no-repeat top left;
    background-size: cover;
    min-height: 100vh;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.075);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
  }

.btn-dark{
        color: rgba(248,51,3,255);
        font-weight: 500;
}
 
  
  .visuallyhidden {
    position: absolute;
    z-index: -1;
    right: 0;
    opacity: 0;
    
  }
  
  h1 {
    color: white;
    text-align: center;
    margin-top: 1em;
  }
  
  .container {
    overflow: hidden;
    padding: 20px;
    margin-top: 4em;
    background: rgba(0,0,0, 0)
  }
  

  .card-carousel {
    --card-width: 80%;
    --card-max-width: 280px;
    --card-height: 350px;
    --carousel-min-width: 600px;
    z-index: 1;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: var(--card-height);
    min-width: var(--carousel-min-width);
    transition: filter .3s ease;
  }
  
  @media screen and (max-width: 640px) {
    .card-carousel {
      margin-left: calc((100vw - var(--carousel-min-width) - 40px) / 2)
    }
  }
  
  .card-carousel.smooth-return {
    transition: all .2s ease;
  }
  
  .card-carousel .card {
    background: black;
    width: var(--card-width);
    max-width: var(--card-max-width);
    text-align: center;
    padding: 1em;
    min-width: 250px;
    height: var(--card-height);
    position: absolute;
    margin: 0 auto;
    color: rgba(0,0,0,.5);
    transition: inherit;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    border-radius: 1em;
    filter: brightness(.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .card.highlight {
    filter: brightness(1)
  }
  
  
  .card:nth-of-type(1) .image-container {
      background-image: url("./img/download.jpg");
  }
   
  .card:nth-of-type(2) .image-container {
    background-image: url("./img/black\ cap.jpg");
  }
  
  .card:nth-of-type(3) .image-container {
    background-image: url("./img/shirt.jpeg")
  }
  .card:nth-of-type(4) .image-container {
    background-image: url(".//img/white\ t-shirt.jpg")
  }
  .card:nth-of-type(5) .image-container {
    background-image: url("./img/white\ cap.jpg")
  }
  
  
  
  .image-container {
    width: 13em;
    height: 13em;
    position: relative;
    background-size: cover;
    background-position: center;
    margin-bottom: 2em;
    border-radius: 100%;
    padding: 1em;
    -webkit-box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.3);
  box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.3);
    
  }
  
  .image-container::after {
    content: "";
    display: block;
    width: 120%;
    height: 120%;
    border-radius: 100%;
    position: absolute;
    top: calc(-10% - 3px);
    left: calc(-10% - 3px);
  }
  
  h2 {
    padding: 1em;
    margin-top: 1em;
    background: rgba(0,0,0,.3);
    text-align: center;
    color: white;
    border-radius: .2em;
    display: inline-block;
    transform: translateX(calc((100vw - 100%) / 2))
  }
  
  h2 a {
    color: #f5b916
  }

  .container p{
      color: rgba(248,51,3,255);
      font-size: 30px;
      font-weight: bold;
      font-style: oblique;
  }

  .btn-light{
    color: rgba(248,51,3,255);
    font-weight: 500; 
  }

  form small{
    color: rgba(248,51,3,255);
  }
  form .form-control-file{
    color: rgba(248,51,3,255);
  }

